body{
    font-family: 'Archivo Narrow', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    margin-top: 30%;
}
.name-color{
    color:lightsalmon;
}
.title-color{
    color: lightsalmon;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.half{
    width: 38%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
}
.half img{
    width: 90%;
}
#bg{
    background-color: whitesmoke;
}
section{
    height: 500px;
}
.title{
    width: 100%;
    text-align: center;
    position: relative;
    top: 50px;
}
.project-list{
    display: flex;
    position: relative;
    top: 30px;
}
.box{
    box-shadow: 10px 10px 40px gray;
    border-radius: 7px;
    background-color: white;
    margin: 5%;
}
.fit{
    margin-top: 5%;
    margin-left: 8%;
    height: 50%;
    width: 85%;
}
.img-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(13, 13, 87);
    padding-right:5px;
    margin-left: 5%;
}
.details{
    margin-left: 5%;
    margin-bottom: 5%;
}
.back{
    background-image: url("file/shapes/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
    background-position-y: 20%;
}
.work{
    font-size: 45px;
    font-family: fantasy;
    position: relative;
    left: 200px;
    top: 120px;
    color: white;
}
.chat{
    position: relative;
    left: 70%;
    top: 8%;
}